@import '../../assets/variables.scss';

.card {
  min-height: 500px;
  width: 100%;
  transition: background-color 0.5s ease;

  .card-body {
    height: 100%;
  }
  .thumbnail {
    height: 200px;
    width: 100%;
    object-fit: cover;
    padding: 10px;
  }

}

.pointer {
  cursor: pointer;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.5s ease;
}

.rating-container {
  display: flex;
  gap: 4px;
}

.circle {
  display: block;
}
